<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Your wishlist">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/nav-bar/nav-bar.css" rel="stylesheet">
    <link href="/css/log-out/log-out.css" rel="stylesheet">
    <link href="/css/wishes-zone/wishes-zone.css" rel="stylesheet">
    <link href="/css/show-users.css" rel="stylesheet">
    <link href="/css/credentials/credentials.css" rel="stylesheet">
    <script src="/js/highlight-current-menu-item.js"></script>
    <script src="/js/fetch-page.js"></script>
    <script src="/js/friends-page.js"></script>
    <script src="/js/set-default-avatar-placeholder.js"></script>
    <script src="/js/find-user-navbar.js"></script>
    <script src="/js/login-redirections.js"></script>
    {{> websocketStatic}}
    <title>Friends</title>
</head>
<body>
    <div class="body__main">
        {{> navbarLoggedSure}}
        <main>
            <h2 class="page-overall-info">You have {{ friendsCount }} friends</h2>
            {{#if friendsCount}}
                <div class="default-zone-wrapper">
                    <div class="friends-zone">
                        {{#each friends}}
                            <div class="user-item" onclick="redirectToProfile('{{this.nickname}}')">
                                <img class="avatar" src="{{this.photoLink}}" alt="avatar">
                                <div class="user-names-wrapper">
                                    <h2 class="user-nickname capitalized-text-input">{{this.name}}</h2>
                                    <h2 class="user-nickname lowercased-text-input user-nickname">{{this.nickname}}</h2>
                                    <h2 class="user-nickname capitalized-text-input">{{this.surname}}</h2>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </main>
        {{> footerAd}}
    </div>
</body>
</html>