<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Your wishlist">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/logo/logo.css" rel="stylesheet">
    <link href="/css/nav-bar/nav-bar.css" rel="stylesheet">
    <link href="/css/log-out/log-out.css" rel="stylesheet">
    <link href="/css/selection-bar/selection-bar.css" rel="stylesheet">
    <link href="/css/wishes-zone/wishes-zone.css" rel="stylesheet">
    <link href="/css/forms/forms.css" rel="stylesheet">
    <link href="/css/wishlist/wishlist.css" rel="stylesheet">
    <link href="/css/wishlist/wishlist-with-items.css" rel="stylesheet">
    <link href="/css/credentials/credentials.css" rel="stylesheet">
    <script src="/js/highlight-current-menu-item.js"></script>
    <script src="/js/upload-wish-item.js"></script>
    <script src="/js/fetch-page.js"></script>
    <script src="/js/find-user-navbar.js"></script>
    <script src="/js/login-redirections.js"></script>
    <script src="/js/wishlist-page.js"></script>
    {{> websocketStatic}}
    <title>My wishlist</title>
</head>
<body>
    <div class="body__main">
        {{> navbarLoggedSure}}
        <main>
            <h2 class="page-overall-info">This wishlist currently has {{wishitemsCount}} items</h2>
            <div class="wishitem-container">
            {{#each wishitems}}
            <a class="wishitem-card" onclick="redirectToWishitem('{{this.id}}')">
                <img class="wishitem-card__image" src="{{this.imageLink}}">
                <h2 class="wishitem-card__title">{{this.title}}</h2>
                {{#if ../isOwner}}
                <button class="wishitem__delete-button" onclick="event.stopPropagation(); deleteWishitem('{{this.id}}', '{{../wishlistId}}')">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAx0lEQVR4nO2UUQrCMAxA6wWdDmUfenaFiVOZN1B4UuhQNJ1Ntypi318hyaNJWmMymb8BWAJnYA/MFHlz4AC0wEIrnbjEjgtQBeRVLrajVYktwOmhwFu5ILUcjRagFAqJco/Unku12GJnJBS8AuunXZBiVmYI9MiTSQNaGTSKQXhunuamCnk6qcUz05eF+5Q0nZxvLBc9TybknY8uNfeYceVAMcKXWcSId5r5eeR1jLjRLo0gb2JbXQMbTctc3tblTtXiTOZnuQEG7QtfZaLvigAAAABJRU5ErkJggg==">
                </button>
                {{/if}}
            </a>
            {{/each}}
            </div>
        </main>
        {{> footerAd}}
    </div>
</body>
</html>