<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Your wishlist">
    {{> linkCommonCss}}
    <link href="/css/wishlist/wishlist-with-items.css" rel="stylesheet">
    <script src="/js/upload-wish-item.js"></script>
    <script src="/js/wishlist-page.js"></script>
    <script src="/js/set-default-wishitem-image.js"></script>
    {{> linkCommonJs}}
    {{> websocketStatic}}
    <title>My wishlist</title>
</head>
<body>
    <div class="body__main">
        {{> navbarLoggedSure}}
        <main>
            <h2 class="page-overall-info">This wishlist currently has {{wishitemsCount}} items</h2>
            <div class="wishitem-container">
            {{#each wishitems}}
            <a class="wishitem-card" onclick="redirectToWishitem('{{this.id}}')">
                <img class="wishitem-card__image wisher-item-image" src="{{#if this.imageLinkAsKey}}/api/images/{{this.imageLinkAsKey}}?imagekind=WISHITEM_IMAGE{{/if}}">
                <h2 class="wishitem-card__title">{{this.title}}</h2>
                {{#if ../isOwner}}
                <button class="wishitem__delete-button" onclick="event.stopPropagation(); deleteWishitem('{{this.id}}', '{{../wishlistId}}')">
                    <img id="wishitem__delete-button-icon" src="/objects/wishitem-delete-button.png">
                </button>
                {{/if}}
            </a>
            {{/each}}
            </div>
        </main>
    </div>
    {{> footerAd}}
</body>
</html>