<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> linkCommonCss}}
    <link href="/css/show-users.css" rel="stylesheet">
    <script src="/js/friends-page.js"></script>
    {{> linkCommonJs}}
    {{> websocketStatic}}
    <title>User search results</title>
</head>
<body>
    {{> yandexMetrikaNoscript}}
    <div class="body__main">
        {{> navbarLoggedSure}}
        <main>
            <h2 class="page-overall-info">Accounts found: {{usersCount}}</h2>
            {{#if usersCount}}
                <div class="default-zone-wrapper">
                    <div class="friends-zone">
                        {{#each users}}
                            <div class="user-item" onclick="redirectToProfile('{{this.nickname}}')">
                                <img class="avatar" src="{{#if this.photoLinkAsKey}}/api/images/{{this.photoLinkAsKey}}?imagekind=PROFILE_PHOTO{{/if}}" alt="avatar">
                                <div class="user-names-wrapper">
                                    <h2 class="user-nickname capitalized-text-input">{{this.name}}</h2>
                                    <h2 class="user-nickname lowercased-text-input user-nickname">'{{this.nickname}}'</h2>
                                    <h2 class="user-nickname capitalized-text-input">{{this.surname}}</h2>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </main>
    </div>
    {{> footerAd}}
</body>
</html>