<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {{> linkCommonCss}}
    <link href="/css/suggestion-zone/suggestion-zone.css" rel="stylesheet">
    <script src="/js/wisher-page.js"></script>
    {{> linkCommonJs}}
    {{> websocketStatic}}
    <title>Wisher</title>
</head>
<body>
    <div class="body__main">
        {{> navbarVarious}}
        <main>
            <div class="suggestion-zone-with-buttons">
                <button class="suggestion-zone__button" type="button" onclick="wisherGetNextItem()">
                    <img class="suggestion-zone__button_left" src="objects/arrow-button.svg" alt="next"/>
                </button>
                <div class="suggestion-zone">
                    <h1 class="suggestion-zone__title" id="wisher-item-title">
                        {{ wishitem.title }}
                    </h1>
                    <h3 class="suggestion-zone__description" id="wisher-item-description">
                        {{ wishitem.description }}
                    </h3>
                    <div class="suggestion-zone__importance" id="suggestion-zone__marketplace-links">
                        {{#if wishitem.itemshopLinks}}
                            <h4 class="helper-text">Marketplace<br>links</h4>
                        {{/if}}
                            <div class="links-container">
                                {{#each wishitem.itemshopLinks}}
                                    {{#if this}}
                                        <a class="suggestion-zone__marketplace-single-link" href="{{this}}" target="_blank">Link №{{addOne @index}}</a>
                                    {{/if}}
                                {{/each}}
                            </div>
                    </div>
                    <img class="suggestion-zone__photo" id="wisher-item-image" src='{{#if wishitem.imageLinkAsKey}}/api/images/{{wishitem.imageLinkAsKey}}?imagekind=WISHITEM_IMAGE{{/if}}' alt="image">
                </div>
                <button class="suggestion-zone__button" type="button" onclick="wisherGetNextItem()">
                    <img class="suggestion-zone__button_right" src="objects/arrow-button.svg" alt="next"/>
                </button>
                <div class="suggestion-zone__add-item-wrapper" id="wishitem-in-wisher__add-item-wrapper">
                    <a class="suggestion-zone__add-this-wishitem-redirect" href="/wishitems/new?id={{wishitem.id}}">
                        <img class="nav-bar__special-icon" src="/objects/icons8-plus.svg" alt="next"/>
                    </a>
                </div>  
            </div>
        </main>
    </div>
    {{> footerAd}}
</body>
</html>